@import "tailwindcss";

/* @font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Regular.ttf');
}

* {
    font-family: 'Cinzel';
} */

:root {
    --font-inter: 'Inter', sans-serif;
    --font-playfair: 'Playfair Display', serif;
}

body {
    font-family: var(--font-inter);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-playfair);
}

/* Customize Swiper navigation arrows */
@layer utilities {

    .swiper-button-prev,
    .swiper-button-next {
        color: white !important;
        /* Force white */
    }

    /* Optional: improve visibility */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.5rem;
        /* Tailor size */
    }
}





/* Minimal float animation for icons */
@keyframes subtleBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}

.subtle-bounce {
    animation: subtleBounce 3s ease-in-out infinite;
}